$navbarheight: 80px;

#navbar {
  position: fixed; // The navbar is positioned relative to the browser window
  z-index: 9999;   // Give high stack order to place in front of background image
  transition: top 0.2s ease-in-out; // Transition for hide/show of navbar on scroll
  height: $navbarheight;
  width: 100%;
}

#navbar img {
  height: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#navbar ul.topnav {
  list-style-type: none;  // Removes bullets from list
  position: absolute;     // positioned relative to first positioned (non static) ancestor which here should be the #navbar
  display: inline;
  margin: 0;              // Remove normal list margins
  overflow: hidden;
  background-color: rgba(0,0,0,0.4); // Color must be on list so that the background grows to fit an uncollapsed menu
  width: 100%;

  height: initial;        // Can't specify a fixed height because it stops navbar droping on responsive
  padding: 0;
  
  img {
    padding-left: 2em;   
  }

  @media screen and (min-width: $screen-sm-min) {
    height: $navbarheight;
  }
}


// Add this class to navbar on scroll down
.nav-up {
  top: -$navbarheight;
}

// Add this class on scroll up
.nav-down {
  top: 0;
}
// Change background color of links on hover 
ul.topnav li a:hover {background-color: rgba(0,0,0,0.2);}

//Social Navigation links
ul.topnav li.social-icon {
  float: right;
  display: inline-block;
  
  a {
    padding: 0;
  }
  // override selector above
  
  padding-top: 25px;
  padding-bottom: 25px;
  
}


// COLLAPSED list items on small screens.
// Hide all menu items apart from brand and menu icon
ul.topnav li:not(:first-child) {display: none;}
ul.topnav li.menu-icon {
  float: right;
  display: inline-block;
}
ul.topnav li:not(:first-child) a {
  color: $white;
  text-align: center;
  padding: 35px 2em;
  text-decoration: none;
  transition: 0.3s;
  font-size: 15px;
  font-family: GillSansNovaLight;
  letter-spacing: 0.1em;
}

// On bigger screens show all list items and hide menu icon.
@media screen and (min-width: $screen-sm-min) {
  ul.topnav li {
    display: inline !important;
    line-height: 10px;
  }
  ul.topnav li.menu-icon {display: none !important;}
  ul.topnav li:not(:first-child) a {
    display: inline-block !important;
  }
}

// EXPANDED nav items on small screen.
//TODO: change .responsive to .expanded
ul.topnav.responsive {position: relative;}
ul.topnav.responsive li.menu-icon {
  position: absolute;
  right: 0;
  top: 0;
}
  
ul.topnav.responsive li {
  float: none;
  display: inline;
}

ul.topnav.responsive li a {
  display: block;
  text-align: left;
}

// The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens 
@media screen and (min-width: $screen-sm-min) { 
  #navbar ul li:not(:first-child):not(.social-icon):after { 
    content: " ";
    word-spacing: 0.5em;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-image: url('../images/nav-separator.png');
  }
}

