.prices-table {
  width:100%;
  display:table;
  text-align: left;
  font-family: NewsGothicOblique;
  background-image:
    linear-gradient(to bottom, #283878, #5464a4);
}

.prices-table .table-row:first-child {
    font-weight: bold;
}

.table-row {
  display: table-row;
  height: 40px;
  width: 100%;
  border: 1px solid #fff;
}

.cell {
  height:40px;
  padding-left: 10%;
  padding-right: 10%;
  width: 70%;
  margin: 0 auto;
  vertical-align: middle;
  color: $white;
  display:table-cell;
  border:1px solid #fff;
}
