// Block level elements grow to fit content. If height is set on element then the content can overflow. In this case
// the behaviour is specified by the 'overflow' property with possible values: hidden, visible and auto (scroll)
// Default overflow property is auto
// html element has height and width property governed by browser window.
// http://phrogz.net/css/htmlvsbody.html

html {
 height: 100%; // Not sure why this is required?
}

body{
  margin: 0 auto; // Not sure why this is needed? Center the contect horizontally?
  width: 100%; // Sets width to full width of html, which is width of browser widow.
  //text-align: center; // Makes the headings center aligned . . .?
}

// HEADINGS
.heading {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

// H1 - main headings for page sections
h1 {
  text-transform: uppercase;
  font-family: NewsGothicOblique;
  color: $blue;
  font-size: 3em;
  text-align: center;
  letter-spacing: 2px;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

// :before inserts styled content before element.
// 'positioned' element has any position other than static.
// position: 
//      static    - (default) not affected by top,left,right,bottom. Normal flow of page 
//      relative  - use top,bottom,left,right. Content will not fill space left by adjustment
//      fixed     - positioned relative (as above) to viewport
//      absolute  - relative to nearest positioned ancestor
     
// Content inserted with before is child of element. 
// This rule creates a sub-width heading underline.
h1:before {
    content: "";  
    position: absolute;
    width: 80%;         // Set width of underline relative to size of heading. 
    height: 1px;        // Set height of content so border is visible?
    bottom: 0;          // anchor to bottom rather than top
    left: 10%;          // Centre the underline
    border-bottom: 1px solid $brown;
}


// H2 - Large orange heading for bandname / footer header / soundcloud link
h2 { 
  color: $orange;
  text-align: center;
  font-size: 2em;
}
/*
h3:before {
    content: "";  
    position: absolute;
    width: 100%;         // Set width of underline relative to size of heading. 
    height: 1px;        // Set height of content so border is visible?
    bottom: 0;          // anchor to bottom rather than top
    left: 0%;          // Centre the underline
    border-bottom: 1px solid $black;
}
*/

// H3 - red underlined text for sub headings
h3 {
  color: $maroon;
  border-bottom: 1px solid $black;
  font-size: 1.5em;
  text-align: center;
  font-family: NewsGothicOblique;
  padding-left: 0.8em;
  padding-right:0.8em;
  padding-bottom:0.2em;
  display: inline;
}

h4 {
  font-family: NewsGothicOblique;
  font-size: 1.2em;
  font-weight: bold;
  color: $orange;
  text-align: left;
}



// TEXT 
p {
  font-family: GillSansNovaLight;
  text-align: left;
  font-weight: 200;  // Having no effect?
  font-size: 1.1em;
  color: #777;
  line-height: 1.6em;
  margin-bottom: 2em;
  word-spacing: 0.1em;
}


// *** RESIDENCY PAGE ***
ul.residency-list {

  margin-top: 50px;
  margin-bottom: 50px;

  list-style-image: url('../images/bullet_image.png');
  li {
    padding-left: 10px;
    padding-bottom: 10px;
  }
}

$contact-banner-height: 80px;

// *** REHEARSE PAGE ***

// Need this div as banner is full width and so must be defined outside
// col-xs-12 to avoid padding gaps at end.
.contact-banner {
  background-color: $gold;
  // Because divs do not grow to fit size of children (this is overflow?)
  // overflow: autp 
  overflow: auto; // WHY DOES THIS WORK?? 
  font-weight: bold;
  text-align: center;
}

.contact-banner p {
  line-height: $contact-banner-height;
  vertical-align: middle;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: bold;
  color: $black;
  text-align: center;
  margin: 0;
}

// *** RECORD PAGE ***
#RecordedArtistsList {
  list-style-type: none;
  font-weight: bold;
  margin: 0;
  
  li {
    padding-bottom: 0.8em;
  }
}

#sc-player {
  margin-top: 100px;
  margin-bottom: 100px;
}

// *** RESIDENTS PAGE ***
#section-residents {
  background-color: $light-grey;
}

table.residents {
  width: 100%;
  text-align: center;
}

// *** RADIO PAGE ***
#section-radio {
  background-color: $dark-grey;
}

// *** ABOUT PAGE ***
.team-info h4, .team-info p {
  text-align: center;
}

.team-info p.role {
  font-weight: bold;
}

// *** CONTACT PAGE ***
#section-contact {
  background-color: $gold;
}
