footer
  .container-fluid
    .row
      //.col-sm-1.col-sm-push-3

      .col-xs-6.col-sm-2.col-sm-push-3
        ul.footer-links
          li Start
          li Rehearse
          li Record
          li Residents
          li Radio
      
      //.col-sm-1.col-sm-push-3
        
      .col-xs-6.col-sm-2.col-sm-push-3
        ul.footer-links
          li About
          li Contact
          li.invis-li bla 
          li.invis-li bla 
          li.invis-li bla    
      
      .col-xs-12.col-sm-2.col-sm-push-3
        h3 Follow us
        i.fa.fa-facebook.fa-3x(aria-hidden="true")
        i.fa.fa-twitter.fa-3x(aria-hidden="true")
          
      .col-xs-6.col-sm-3.col-sm-pull-6
        img(src='/images/Fattank-logovit.png')
      
      .col-xs-6.col-sm-3
        p Join our mailing list
        input.form-control(type="email" placeholder="email")

      
      
