doctype html
html(lang="en")
  head
    // Change to local. . .
    title FatTank 
    link(rel="stylesheet" href="css/styles.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
      
    //- TODO Put at bottom  
    script(src="js/main.js")
  body

    include ./navbar.jade

    .container-fluid
      .row
        .page#sec-rehearse
          .col-md-6.col-md-offset-3
            h1 rehearse
            h3 List equipment
            p 2 Rehearsal rooms / Mackie SRM450 V3 PA Speakers /Mackie ProFX12 mixer / 4 Mics (sm58) / 4 Mic stands (K&M) / XLRs. 
            p Guitar & Bass amps and a drum kit are also available to use at no extra charge. Bands also have full use of the shower room and kitchen area.
        
      .row
        .page#sec-record
          .col-md-8.col-md-offset-2
            h1 record

      .row
        .page#sec-residents
          .col-md-10.col-md-offset-1
            h1 residents
    
    include ./footer.jade
      
      
