.container-fluid  
  .row
    img#landing-img(src='/images/frontpic.jpg')
    nav#navbar.nav-down
      #navcontainer
        
        //- LOGO
        a 
          img(src="/images/Fattank-logovit.png")
        
        //- NAV LINKS
        ul
          li
            a(href="#") Start
          li
            a(href="#sec-rehearse") Rehearse
          li
            a(href="#sec-record") Record
          li
            a(href="#sec-residents") Residents
          li
            a(href="#") Radio
          li
            a(href="#") About
          li
            a(href="#") Contact
        
        //- FB & Twitter links
        a
          i.fa.fa-facebook


