.container-fluid  
  .row
    img#landing-img(src='/images/frontpic.jpg')
    nav#navbar.nav-down
      #navcontainer
        
        //- LOGO
        a 
          img(src="/images/Fattank-logovit.png")
        
        //- NAV LINKS
        ul
          li
            a(href="#") Start
          li
            a(href="#section-rehearse") Rehearse
          li
            a(href="#section-record") Record
          li
            a(href="#section-residents") Residents
          li
            a(href="#section-radio") Radio
          li
            a(href="#section-about") About
          li
            a(href="#section-contact") Contact
        
        //- FB & Twitter links
        a
          i.fa.fa-facebook


