extends ./page.layout.jade

block vars
  - var sectionID = 'section-record';

block title
  h1 Record

block content
  .row
    .col-xs-4.col-xs-offset-1
      
      .record-img
        img.img-responsive(src="/images/control_window.jpg")
      
    .col-xs-6
      p.
        £200 for one full day in the studio, 11am - 11pm , includes engineering fee.
      
      p.  
        Our resident engineers can be as hands on with production as you like or simply sit back and await for in-
        struction. We understand capturing your sound is highly personal and each band has a different approach.
        At Fat Tank we care as much for the final recording as you do, we will ask you to send as much of your
        music our way as possible. The engineers like to sit with your demos beforehand so we can tailor the session
        o suit your creative wants and aspirations. If you already have a well trusted producer you want to work
        with, they are more than welcome to join the session, our resident engineer will be there to facilitate their ideas.
      
      p (Current Tech Spec)

  .row
    .col-xs-4.col-xs-offset-1
      .record-img
        img.img-responsive(src="/images/control_desk.jpg")

    .col-xs-6
      .heading
        h3 Past Recorded Artist

  .row
    .col-xs-12
      h2 Soundcloud
