extends ./page.layout.jade

block vars
  - var sectionID = 'section-rehearse';

block title
  h1 Rehearse

block content
  .row
    .col-md-6.col-md-offset-3
      h4 List equipment
      p 2 Rehearsal rooms / Mackie SRM450 V3 PA Speakers /Mackie ProFX12 mixer / 4 Mics (sm58) / 4 Mic stands (K&M) / XLRs. 
      p Guitar & Bass amps and a drum kit are also available to use at no extra charge. Bands also have full use of the shower room and kitchen area.

      .heading
        h3  Fat Tank offers one-off slots and residency packages: 

      h4 One-off Slots
      p Non-residency rehearsals are £50 for a day (11am – 6pm) or evening (6pm – 11pm). Simply get in touch at contact@fattankstudios.co.uk to book a time and get playing!
      
      h4 Residencies
      p.  
        Instead of booking in every week and carting your instruments and amps across town, many
        bands choose to pay monthly for set rehearsals and storage. If you opt for a residency pack-age, 
        you’ll be given your own keys to the studio as well as your own personal storage area...
        meaning there's only one drop off after a gig. Resident bands can also trade two of their ses-sions
        to book out a full day using the recording studio. This allows you to capture the sound 
        you’ve been hearing in rehearsals and record your songs on site.* *additional engineering 
        fee may be charged.

      p.
        You’ll be given access to the online calendar, allowing you to book and alter slots yourself,
        no need to phone and no cancellation fee.

      p.
        You can choose between DAY (11am - 6pm) or EVENING (6pm – 11pm) slots, bands can chop and change between
        the two.

      .heading
        h3 So to conclude, a Fat Tank Residency gets you:
      
      ul.residency-list
        li Personal storage area
        li Keys to studio
        li Parking
        li Access to online calendar
        li Shower room (hose down after a sweaty gig)
        li Kitchen Area - Fully stocked tea / coffee making facilities
        li Whole Lotta Fat Tank Lovin

    
