extends ./page.layout.jade

block vars
  - var sectionID = 'section-rehearse';

block title
  h1 Rehearse

block content
  .col-md-6.col-md-offset-3
    h3 List equipment
    p 2 Rehearsal rooms / Mackie SRM450 V3 PA Speakers /Mackie ProFX12 mixer / 4 Mics (sm58) / 4 Mic stands (K&M) / XLRs. 
    p Guitar & Bass amps and a drum kit are also available to use at no extra charge. Bands also have full use of the shower room and kitchen area.


