extends ./page.layout.jade

block vars
  - var sectionID = 'section-residents';

block title
  h1 Residents

block content
  .col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2
    #myCarousel.carousel.slide(data-ride="carousel")
     
      //- ol.carousel-indicators
        li.active(data-target="#myCarousel" data-slide-to="0")
        li(data-target="#myCarousel" data-slide-to="1")
        li(data-target="#myCarousel" data-slide-to="2")
        li(data-target="#myCarousel" data-slide-to="3")
    
      .carousel-inner(role="listbox")
        .item.active
          img.img-circle(src="images/resident-dooks.jpg" alt="Chania")
        .item
          img.img-circle(src="images/resident-3.jpg" alt="Chania")
        .item
          img.img-circle(src="images/resident-4.jpg" alt="Chania")
        .item
          img.img-circle(src="images/resident-4.jpg" alt="Chania")
        .item
          img.img-circle(src="images/resident-4.jpg" alt="Chania")
        .item
          img.img-circle(src="images/resident-4.jpg" alt="Chania")
        .item
          img.img-circle(src="images/resident-4.jpg" alt="Chania")
        .item
          img.img-circle(src="images/resident-4.jpg" alt="Chania")
        .item
          img.img-circle(src="images/resident-4.jpg" alt="Chania")
        .item
          img.img-circle(src="images/resident-4.jpg" alt="Chania")
        .item
          img.img-circle(src="images/resident-4.jpg" alt="Chania")


      a.left.carousel-control(href="#myCarousel" role="button" data-slide="prev")
        span.fa.fa-chevron-left.fa-2x(aria-hidden="true")
        span.sr-only Previous
      a.right.carousel-control(href="#myCarousel" role="button" data-slide="next")
        span.fa.fa-chevron-right.fa-2x(aria-hidden="true")
          span.sr-only Next

      h2 Dooks

    table.residents
      tr
        td band1
        td band4
        td band7
      tr
        td band2
        td band5
        td band8
      tr
        td band3
        td band6
        td band9
                           
          


